<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MIT News</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<link rel="stylesheet" href="/assets/style.css">
</head>
<body>
	{{> header}}
	<h1 class="center-align">Hello %username%!</h1>
	<h2 class="center-align">Welcome to MIT-news</h2>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div id="news" class="center-align">{{{body}}}</div>
			</div>
		</div>
	</div>
	<script
	src="https://code.jquery.com/jquery-3.2.1.js"
	integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	crossorigin="anonymous"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			
			$(".btn").click(function(eventObject){
				console.log("click");
				var data = {};
				data.id = $(eventObject.currentTarget).parent().find('input[name="id"]').val()
				data.note = $(eventObject.currentTarget).parent().find('input[name="note"]').val()
				if(data.note){
					$.post("/addnote", data, (answer)=>{
						console.log(answer);
						if(answer){
							$(eventObject.currentTarget).parent().find('input[name="note"]').val("")
							$(eventObject.currentTarget).parent().parent().find("ul").append("<li class='left-align' data-note-id="+answer+">New: "+data.note+"<button class='btn-flat'>X</button></li>");
						}
					});
				}
			});
			$("body").on("click", ".btn-flat", function(eventObject){
			//$(".btn-flat").click(function(eventObject){
				console.log("click-delete");
				var data = {};
				data.id = $(eventObject.currentTarget).parent().parent().parent().find('input[name="id"]').val()
				data.note_id = $(eventObject.currentTarget).parent().attr('data-note-id');
				console.log(data)

				$.post("/delete/" + data.id + "/"+data.note_id, function(answer){
					console.log(answer);					
					$(eventObject.currentTarget).parent().remove();
				});
			});

		});
	</script>
	{{> footer}}
</body>

</html>