<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MIT News</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	
	<link rel="stylesheet" href="/assets/style.css">
	<script type="text/javascript"></script>
</head>
<body>
	
	<h1 class="center-align">Hello %username%!</h1>
	<div class="container">
		<div class="row">
			<div class="col m2"></div>
			<div class="col m8 s12 center-align">
				<div id="news">{{{body}}}</div>
			</div>
			<div class="col m2"></div>
		</div>
	</div>
	<script
	src="https://code.jquery.com/jquery-3.2.1.js"
	integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	crossorigin="anonymous"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".btn").click(function(eventObject){
				console.log("click");
				var data = {};
				data.id = $(eventObject.currentTarget).parent().find('input[name="id"]').val()
				data.note = $(eventObject.currentTarget).parent().find('input[name="note"]').val()
				if(data.note){
					$.post("/addnote", data, (answer)=>{
						console.log(answer);
						if(answer){
							$(eventObject.currentTarget).parent().find('input[name="note"]').val("")
							$(eventObject.currentTarget).parent().parent().find("ul").append("<li class='left-align'>New: "+data.note+"</li>");
						}
					});
				}
			});
			$(".btn-flat").click(function(eventObject){
				console.log("click-delete");
				var data = {};
				data.id = $(eventObject.currentTarget).parent().find('input[name="id"]').val()
				data.note = $(eventObject.currentTarget).parent().find('input[name="note"]').val()
				if(data.note){
					$.get("/delete//"+data.id, data, (answer)=>{
						console.log(answer);
						if(answer){
							$(eventObject.currentTarget).parent().find('input[name="note"]').val("")
							$(eventObject.currentTarget).parent().parent().find("ul").append("<li class='left-align'>New: "+data.note+"</li>");
						}
					});
				}
			});

		});
	</script>
</body>

</html>